<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>404</h1>
                <h2>Oops! Page Not Found</h2>
                <p>URI: {{uri}}</p>
                <p>Sorry, the page you are looking for might have been removed or is temporarily unavailable.</p> <a
                    href="/" class="btn btn-primary">Go Back Home</a>
            </div>
        </div>
    </div>

</body>

</html>